
<!-- Show recommended recipe and menu -->
<ul id="blog" class="list-unstyled">
  <li class="row">
    <div class="row">
      <h3 class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">Live for love and love for food</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
          <ul class="slides list-unstyled">
            <% @top_recommended_recipes.each do |recipe|%>
              <li><%= image_tag(recipe.recipe_img.url(:slide)) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>

<!-- Show top bookmarked recipes in pagination-->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-header">Most bookmarked recipes</h4>
  </div>
  <% @top_bookmarked_recipes.each do |recipe|%>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="work-item">
      <%= image_tag(recipe.recipe_img.url(:square))%>
      <div class="item-info">
        <div>
          <h4><%= recipe.title.truncate(40, separator: ' ') %></h4>
          <p><%= recipe.description.truncate(80, separator: ' ') %></p>
          <ul class="item-options">
            <li><span class="recipe-modal-link"><a class="enlarge" data-toggle="modal" href="#modal<%= recipe.id %>"></a></span></li>
            <li><span class="recipe-link"><a class="view slower" href="<%= recipe_path(recipe) %>"></a></span></li>
          </ul>
        </div>
      </div>
    </div>
		<!-- Modal -->
    <div class="modal custom-modal fade" id="modal<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="modal<%= recipe.id %>" aria-hidden="true">
      <div class="modal-dialog" >
        <%= image_tag(recipe.recipe_img.url)%>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  <% end %>
</div>

<!-- Begin Pagination -->
<div class="pagination-container text-center">
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination pagination-sm works-pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End Pagination -->

<!-- Show tag and Ingredient-->
<div class="row">
  <div class="col-md-6">
    <h3>Ingredient</h3>
    <button type="button" class="btn btn-custom light-gray">ingredient</button>
  </div>
  <div class="col-md-6">
    <h3>Tag</h3>
    <% @tags.each do |tag|%>
    <%= link_to  tag.name, tagged_path(tag.name), class: "btn btn-custom light-gray" %>
    <% end %>
  </div>
</div>

<hr class="small">
<h3>Website Overview</h3>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <p><span class="count-number"><%= @view_count %></span> Page Views</p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <p><span class="count-number"><%= @user_count %></span> Registered Users</p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <p><span class="count-number"><%= @recipe_count %></span> Created Recipes</p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <p><span class="count-number"><%= @masterpiece_count %></span> Created Masterpieces</p>
  </div>
</div>
