<!-- Common search bar using Pills -->
<div class="col-md-6">
  <ul class="nav nav-pills">
    <li><a href="#pill1" data-toggle="tab">Recipe</a></li>
    <li><a href="#pill2" data-toggle="tab">User</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="pill1">
      <%= form_tag(search_find_by_recipe_path, method: "get", class: "navbar-form navbar-left") do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search recipe" %>
        <%= submit_tag "Search", class: 'form-control' %>
      </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="pill2">
      <%= form_tag(search_find_by_user_path, method: "get", class: "navbar-form navbar-left") do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search user" %>
        <%= submit_tag "Search", class: 'form-control' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
