<h4 class="media-heading"><span class="recipe-link"><%= link_to recipe.title, recipe %></span></h4>
<span class="glyphicon glyphicon-heart"></span><%= recipe.users_liking_it.count %>
<span class="glyphicon glyphicon-bookmark"></span><%= recipe.users_bookmarking_it.count %>
<span class="glyphicon glyphicon-cutlery"></span><%= recipe.cooks.count %>
<h4>Ingredients:</h4>
<% recipe.ingredients.each do |ingredient| %>
<%= link_to ingredient.name, search_find_by_recipe_path(search: ingredient.name), class: "btn btn-custom light-gray" %>
<% end %>
<h4>created by: <%= recipe.creator.username %></h4>
