<!-- Begin user search result -->
<div class="row">
  <!-- Common search bar using Pills -->
  <div class="col-md-6">
    <ul class="nav nav-pills">
      <li><a href="#pill1" data-toggle="tab">Recipe</a></li>
      <li class = "active"><a href="#pill2" data-toggle="tab">User</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade" id="pill1">
        <%= form_tag(search_find_by_recipe_path, method: "get", class:"navbar-form navbar-left", role:"search") do%>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search.."%>
          <%= submit_tag "Search", class: 'form-control' %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade in active" id="pill2">
        <%= form_tag(search_find_by_user_path, method: "get", class:"navbar-form navbar-left", role:"search") do%>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search.."%>
          <%= submit_tag "Search", class: 'form-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-12">
      <h2>User Search Result</h2>
    </div>

  <hr class="medium" />
  <% @users.each do |user| %>
  <!-- result list -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src = "<%= user.avatar.url(:square) %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= user.username %></h4>
          <p><%= user.email %></p>
        </div>
  </div>
  <% end %>
</div>
