<%= simple_form_for(@recipe, multipart: true) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="field">

  <%= f.input :title, label: 'Recipe Title'%>
  <%= f.input :description, label: 'Description'%>
  <%= f.input :cook_time, label: 'Cook Time(in min)'%>
</div>

<div class="row">
  <%= f.simple_fields_for :ingredients do |i| %>
  <div class="col-xs-2">
    <%= i.input :name, label: 'Ingredient', required: false %>
  </div>
  <% end %>
</div>

<div class="row">
  <%= f.simple_fields_for :steps do |s| %>
    <div class="col-xs-2">
    <%= s.input :step_number, collection: 1..10, label: 'Step #', required: false %>
    </div>
    <div class="col-xs-10">
    <%= s.input :description, label: 'Description', required: false %>
    </div>
  <% end %>
</div>

<%= f.input :recipe_img, as: :file, wrapper: :vertical_file_input %>

<div class="action">
  <%= f.button :submit %>
</div>
<% end %>
