<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :cook, value: 'Cook Time(in min)' %><br>
    <%= f.number_field :cook_time %>
  </div>


  <div class="field">
    <%= f.label :ingredients %><br>
    <% f.object.ingredients.each do |ingredient| %>
      <%= f.text_field :ingredient, value: ingredient.name %>
    <% end %>
  </div>


  <% f.object.steps.each do |step| %>
  <div class="field">
    <b>Step</b> <%= f.label :step, value: step.step_number %><br>
    <%= f.text_area :step, value: step.description %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
