<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div class="col-sm-12">
    <h3><%= @recipe.title %></h3>
    <h4>Tags: <h4>
      <% @recipe.tags.each  do |tag| %>
        <%= link_to tag.name, tagged_path(:tag => tag.name) %>
      <% end %>
  </div>
</div>
<div class="row">
  <%= image_tag @recipe.recipe_img.url, class: "col-md-8 img-responsive"%>

  <div class="col-md-4">
    <p>
      <%= image_tag @recipe.creator.avatar.url(:square)%>
      <%= @recipe.creator.email %>
    </p>

    <p><span class="count-number"><%= @recipe.users_liking_it.count %></span> people liked it</p>
    <p><span class="count-number"><%= @recipe.users_saving_it.count %></span> people bookmarked it</p>
    <p><span class="count-number"><%= @recipe.cooks.count %></span> people cooked it</p>

    <% if user_signed_in? %>
      <% if @recipe.users_liking_it.include?(current_user) %>
        <%= button_to recipe_unlike_path(@recipe), class: "btn btn-danger", params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-heart"></span> unlike
        <% end %>
      <% else %>
        <%= button_to recipe_like_path(@recipe), class: "btn btn-default", params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-heart"></span> like
        <% end %>
      <% end %>
      <% if @recipe.users_saving_it.include?(current_user) %>
        <%= button_to recipe_unbookmark_path(@recipe), class: "btn btn-warning", params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-bookmark"></span> unbookmark
        <% end %>
      <% else %>
        <%= button_to recipe_bookmark_path(@recipe), class: "btn btn-default", params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-bookmark"></span> bookmark
        <% end %>
      <% end %>
    <% else %>
        <%= button_to recipe_like_path(@recipe), class: "btn btn-default", :disabled => true, params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-heart"></span> like
        <% end %>
        <%= button_to recipe_bookmark_path(@recipe), class: "btn btn-default", :disabled => true, params: {click_page: 'recipe_show'} do %>
          <span class="glyphicon glyphicon-bookmark"></span> bookmark
        <% end %>
    <% end %>
  </div>
</div>

<h3>Description:</h3>
<p>
  <%= @recipe.description %>
</p>


<h3>Ingredients:</h3>
<p>
  <% @ingredients.each do |ingredient| %>
    <p>
      <%= ingredient.name %>
      <%= ingredient.quantity %>
    </p>
  <% end %>
</p>

<h3>Cook time:</h3>
<p>
  <%= @recipe.cook_time %> min
</p>

<h3>Steps:</h3>
<p>
  <% @recipe.steps.each do |step| %>
    <p>
      <%= image_tag step.step_img.url(:square)%>
      <span class="step-number"><%= step.step_number %></span>
      <%= step.description %>
    </p>
  <% end %>
</p>


<h3>Masterpieces:</h3>
<div class="works">
  <div class="row">
    <% @recipe.masterpieces.each do |masterpiece| %>
      <div class="col-lg-3 col-sm-4 col-xs-12">
        <div class="work-item">
          <%= image_tag masterpiece.masterpiece_img.url(:square) %>
          <!-- <img src="images/works/thumbs/1.jpg" alt=""> -->
          <div class="item-info">
            <div>
              <h4><%= masterpiece.cook.email %></h4>
              <p>
                <%= masterpiece.description%>
              </p>
              <ul class="item-options">
                <li><a class="enlarge" data-toggle="modal" href=<%= "#modal#{masterpiece.id}" %>></a></li>
                <li><a class="view slower" href=<%= masterpiece_path(masterpiece) %>></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal custom-modal fade" id=<%= "modal#{masterpiece.id}" %> tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
          <div class="modal-dialog" >
            <img class="img-responsive" src=<%= masterpiece.masterpiece_img.url %> alt="">
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    <% end %>
  </div>
</div>


<% if current_user != nil %>
  <%= link_to "Upload new masterpiece", {controller: 'masterpieces', action: 'new', masterpiece: {recipe_id: @recipe.id}},:class => "btn btn-default"%>
<% end %>

<% if current_user == @recipe.creator%>
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn btn-default" %>
<% end %>
<%= link_to 'Back', recipes_path, :class => "btn btn-default" %>

<!-- <%= params.inspect %> -->
