<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipe.creator.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cook_time %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @ingredients.each do |ingredient| %>
    <%= ingredient.name %>,
  <% end %>
</p>

<p>
  <strong>Steps:</strong>
  <% @recipe.steps.each do |step| %>
    <p>
      Step <%= step.step_number %>
      <%= step.description %>
    </p>
  <% end %>
</p>
<p>How many people liked this recipe: <%= @recipe.users_liking_it.count %></p>
<%= button_to "like", {action: "like", params: {click_page: 'recipe_show'}},class: "btn btn-default"%>
<%= button_to "bookmark", {action: "bookmark", params: {click_page: 'recipe_show'}}, class: "btn btn-default"%>
<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>
