<ul id="blog" class="list-unstyled">
  <div class="row">
    <h3 class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-4">Recipes with tag <%= @tag%></h3>
  </div>
  <li class="row">
    <% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src = "<%= recipe.recipe_img.url(:square) %>">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to recipe.title , recipe %></h4>
            <p><span class="count-number"><%= recipe.users_liking_it.count %></span>people liked it</p>
            <p><span class="count-number"><%= recipe.users_bookmarking_it.count %></span>people bookmarked it</p>
            <p><span class="count-number"><%= recipe.cooks.count %></span>people cooked it</p>
            <p>created by: <%= recipe.creator.username %></p>
          </div>
        </li>
      </ul>
    </div>
    <% end %>
  </li>
</ul>
