<%= form_for(@masterpiece, multipart: true) do |f| %>
  <% if @masterpiece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@masterpiece.errors.count, "error") %> prohibited this masterpiece from being saved:</h2>

      <ul>
      <% @masterpiece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br>
    <%= f.text_field :recipe_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :masterpiece_img %><br>
    <%= f.file_field :masterpiece_img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
