<p id="notice"><%= notice %></p>

<h1>Listing Masterpieces</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masterpieces.each do |masterpiece| %>
      <tr>
        <td><%= masterpiece.recipe.title %></td>
        <td><%= masterpiece.cook.email %></td>
        <td><%= masterpiece.description %></td>
        <%= image_tag masterpiece.masterpiece_img.url(:square) %>
        <td><%= link_to 'Show', masterpiece %></td>
        <td><%= link_to 'Edit', edit_masterpiece_path(masterpiece) %></td>
        <td><%= link_to 'Destroy', masterpiece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Masterpiece', new_masterpiece_path %>
