<p id="notice"><%= notice %></p>

<h3>Masterpiece - <%= @masterpiece.recipe.title %></h3>
<%= image_tag @masterpiece.masterpiece_img.url, class: "img-responsive"%>

<p>
  <%= image_tag @masterpiece.cook.avatar.url(:thumb)%>
  <%= @masterpiece.cook.email %>
</p>
<p>
  <%= @masterpiece.users_liking_it.count %> people liked it
</p>

<% if user_signed_in? %>
  <% if @masterpiece.users_liking_it.include?(current_user) %>
    <%= button_to masterpiece_unlike_path(@masterpiece), class: "btn btn-danger", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> unlike
    <% end %>
  <% else %>
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
  <% end %>
<% else %>
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", :disabled => true, params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
<% end %>

<h3>Description:</h3>
<p>
  <%= @masterpiece.description %>
</p>

<% if current_user == @masterpiece.cook%>
  <%= link_to 'Edit', edit_masterpiece_path(@masterpiece), :class => "btn btn-default" %>
<% end %>
<%= link_to 'Back', masterpieces_path, :class => "btn btn-default" %>
