<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @masterpiece.recipe.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @masterpiece.cook.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @masterpiece.description %>
</p>

<p>How many people liked this masterpiece: <%= @masterpiece.users_liking_it.count %></p>

<% if user_signed_in? %>
  <% if @masterpiece.users_liking_it.include?(current_user) %>
    <%= button_to masterpiece_unlike_path(@masterpiece), class: "btn btn-danger", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> unlike
    <% end %>
  <% else %>
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
  <% end %>
<% else %>
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", :disabled => true, params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
<% end %>
<p>
  <strong>Recipe:</strong>
  <%= @masterpiece.recipe.title %>
</p>


<%= link_to 'Edit', edit_masterpiece_path(@masterpiece) %> |
<%= link_to 'Back', masterpieces_path %>
