<p id="notice"><%= notice %></p>

<h3>Masterpiece - <%= @masterpiece.recipe.title %></h3>
<%= image_tag @masterpiece.masterpiece_img.url, class: "img-responsive"%>

<p><%= image_tag @masterpiece.cook.avatar.url(:thumb)%></p>
<p>Cooked by: <span class="user-link"><%= link_to @masterpiece.cook.username, profile_path(@masterpiece.cook) %></span></p>

<% if user_signed_in? %>
  <% if @masterpiece.users_liking_it.include?(current_user) %>
    <div id="unlike-masterpiece-form">
    <%= button_to masterpiece_unlike_path(@masterpiece), class: "btn btn-danger", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> unlike
    <% end %>
    </div>
  <% else %>
    <div id="like-masterpiece-form">
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
    </div>
  <% end %>
<% else %>
    <%= button_to masterpiece_like_path(@masterpiece), class: "btn btn-default", disabled: true, params: {click_page: 'masterpiece_show'} do %>
      <span class="glyphicon glyphicon-heart"></span> like
    <% end %>
<% end %>

<p>
  <span class="count-number"><%= @masterpiece.users_liking_it.count %></span> people liked it
</p>
<p>
  <% @masterpiece.users_liking_it.each do |user| %>
    <%= image_tag user.avatar.url(:tiny)%>
  <% end %>
</p>

<h3>Description:</h3>
<p>
  <%= @masterpiece.description %>
</p>

<h3>Parent Recipe:</h3>
<p>
  <%= image_tag @masterpiece.recipe.recipe_img.url(:thumb)%>
  <span class="recipe-link"><%= link_to @masterpiece.recipe.title , @masterpiece.recipe %></span>
</p>

<% if current_user == @masterpiece.cook%>
  <%= link_to 'Edit', edit_masterpiece_path(@masterpiece), class: "btn btn-default" %>
<% end %>

<% if current_user == @masterpiece.cook%>
  <%= link_to 'Destroy', @masterpiece, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
<% end %>
