<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @masterpiece.recipe.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @masterpiece.cook.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @masterpiece.description %>
</p>

<p>How many people liked this masterpiece: <%= @masterpiece.users_liking_it.count %></p>
<%= button_to "like", {action: "like", params: {click_page: 'masterpiece_show'}},class: "btn btn-default"%>

<p>
  <strong>Recipe:</strong>
  <%= @masterpiece.recipe.title %>
</p>


<%= link_to 'Edit', edit_masterpiece_path(@masterpiece) %> |
<%= link_to 'Back', masterpieces_path %>
