<div class="jumbotron">
  <h2 class="text-left"><%= current_user.email %></h2>
  <p><a href="#" class="btn btn-info">Facebook</a>  <a href="#" class="btn btn-info">Twitter</a></p>
  <p>Location: </p>
  <p>About me: </p>
  <td><%= link_to 'Edit' %></td>
</div>

<!-- created_recipes, saved_recipes, liked_recipes, cooked_masterpieces, liked_masterpieces -->
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">created_recipes</a></li>
    <li><a href="#tab2" data-toggle="tab">saved_recipes</a></li>
    <li><a href="#tab3" data-toggle="tab">liked_recipes</a></li>
    <li><a href="#tab4" data-toggle="tab">cooked_masterpieces</a></li>
    <li><a href="#tab5" data-toggle="tab">liked_masterpieces</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <% @created_recipes.each do |recipe| %>
        <p>
          <%= recipe.title %>
        </p>
      <% end %>
    </div>

    <div class="tab-pane fade" id="tab2">
      <% @saved_recipes.each do |recipe| %>
        <p>
          <%= recipe.title %>
        </p>
      <% end %>
    </div>

    <div class="tab-pane fade" id="tab3">
      <% @liked_recipes.each do |recipe| %>
        <p>
          <%= recipe.title %>
        </p>
      <% end %>
    </div>

        <div class="tab-pane fade" id="tab4">
          <% @cooked_masterpieces.each do |masterpiece| %>
            <p>
              <%= masterpiece.description %>
            </p>
          <% end %>
        </div>

    <div class="tab-pane fade" id="tab5">
      <% @liked_masterpieces.each do |masterpiece| %>
        <p>
          <%= masterpiece.description %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<br>
