<div class="jumbotron">
  <h2 class="text-left"><%= current_user.username %></h2>
  <p><%= image_tag current_user.avatar.url(:square) %></p>
  <p><a href="#" class="btn btn-info">Facebook</a>  <a href="#" class="btn btn-info">Twitter</a></p>
  <p>Location: </p>
  <p>About me: </p>
</div>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">created_recipes</a></li>
    <li><a href="#tab2" data-toggle="tab">bookmarked_recipes</a></li>
    <li><a href="#tab3" data-toggle="tab">liked_recipes</a></li>
    <li><a href="#tab4" data-toggle="tab">cooked_masterpieces</a></li>
    <li><a href="#tab5" data-toggle="tab">liked_masterpieces</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <ul class="media-list">
        <% @created_recipes.each do |recipe| %>
          <li class="media">
            <a class="pull-left">
              <img class="media-object" src=<%= recipe.recipe_img.url(:thumb) %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to recipe.title, recipe %></h4>
              <p><%= recipe.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane fade" id="tab2">
      <ul class="media-list">
        <% @bookmarked_recipes.each do |recipe| %>
          <li class="media">
            <a class="pull-left">
              <img class="media-object" src=<%= recipe.recipe_img.url(:thumb) %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to recipe.title, recipe %></h4>
              <p><%= recipe.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane fade" id="tab3">
      <ul class="media-list">
        <% @liked_recipes.each do |recipe| %>
          <li class="media">
            <a class="pull-left">
              <img class="media-object" src=<%= recipe.recipe_img.url(:thumb) %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to recipe.title, recipe %></h4>
              <p><%= recipe.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane fade" id="tab4">
      <ul class="media-list">
        <% @cooked_masterpieces.each do |masterpiece| %>
          <li class="media">
            <a class="pull-left">
              <img class="media-object" src=<%= masterpiece.masterpiece_img.url(:thumb) %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to masterpiece.recipe.title, masterpiece %></h4>
              <p><%= masterpiece.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="tab-pane fade" id="tab5">
      <ul class="media-list">
        <% @liked_masterpieces.each do |masterpiece| %>
          <li class="media">
            <a class="pull-left">
              <img class="media-object" src=<%= masterpiece.masterpiece_img.url(:thumb) %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to masterpiece.recipe.title, masterpiece %></h4>
              <p><%= masterpiece.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<br>
