<!DOCTYPE html>
<html>
<head>
  <title>Foodies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <%= csrf_meta_tags %> -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700" rel="stylesheet" type="text/css">
</head>
<body id="orange" data-no-turbolink="true">
  <header id="sub-page">
    <div class="container">
      <nav class="navbar custom-nav" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Foodies</a>
        </div>

        <!-- default: search recipe -->
        <%= form_tag(search_find_by_recipe_path, method: "get", class: "navbar-form navbar-left", role: "search") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for recipe"%>
          <%= submit_tag "Search", class: 'form-control' %>
        </div>
        <% end %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="custom-nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/masterpieces">Masterpieces</a></li>
            <% if user_signed_in? %>
            <li>
              <%= link_to  new_recipe_path do %>
              <span class="glyphicon glyphicon-plus"></span> New recipe
              <% end %>
            </li>
            <% end %>
            <li class="dropdown custom-dropdown profile-image">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% if user_signed_in? %>
                <%= image_tag current_user.avatar.url(:tiny)%>
                <% else %>
                <img src="/images/default/profile.png" style="opacity:0.7"></img>
                <% end %>
              </a>
              <ul class="dropdown-menu">
                <% unless user_signed_in? %>
                <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
                <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <% else %>
                <li>
                  <%= link_to profile_path(current_user) do %>
                  <span class="glyphicon glyphicon-th"></span> <b><%= current_user.email %></b><% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> LogOut
                  <% end %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </nav>
    </div>
  </header>

  <div class="container boxed">
    <%= yield %>

    <footer>
      <div class="row">
        <div class="col-sm-6 col-xs-12 footer-share">
          <p>Foodies - A recipe sharing platform.</p>
        </div>
        <div class="col-sm-6 col-xs-12 footer-info">
          <p>Foodies | Copyright © 2015.</p>
          <p class="to-top">Back to Top<a href="#">&nbsp;</a></p>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>
